html, body, #game {
    height: 100%;
    width: 100%;
    overflow:hidden;
}

html {
    background: white;
}
body {
    margin:0;
}
#game > *{
    display:inline-block;
    height: 100%;
    border-radius: 6px;
    overflow:hidden;
}

#gabator-canvas {
    width: 250px;
    position: absolute;
}
#gabator-canvas canvas {
    top: 0;
    position: absolute;
}

#gabator-progress-bar {
    position:relative;
    display:block;
    padding:0 15px;
    z-index:1;
}
#gabator-progress-bar span {
    font-style:italic;
}
#gabator-progress-bar .progress {
    margin-bottom: 8px;
    height: 12px;
}