{
  "presets": [ "es2015", "react" ],
  //transform-flow-strip-types: supprime les annotations en sortie (:string :any ...)
  //transform-class-properties: permet de mettre des variables de classe
  "plugins": [/* "transform-flow-strip-types", */ "transform-class-properties" ]
}