[submodule "src/games/1"]
	path = src/games/1
	url = https://github.com/loganlepage/orgabat-games-supply-1
[submodule "src/system"]
	path = src/system
	url = https://github.com/loganlepage/orgabat-games-system
