html, body, #game {
    height: 100%;
    width: 100%;
    overflow:hidden;
}

html { background: white; }
body { margin:0; }
#game > *{
    display:inline-block;
    height: 100%;
    border-radius: 6px;
    overflow:hidden;
    position:relative;
}

.iframe-manager {
    position:absolute;
    width:100%;
    height:100%;
}
.iframe-manager-close {
    position:absolute;
    right:0;
    bottom:50px;
    background-color: rgba(255,255,255,0.85);
    padding: 6px 18px;
    font-size: 14px;
    cursor:pointer;
}


#gabator-canvas {
    position: absolute;
    width: 250px;
}
#gabator-canvas canvas {
    position: absolute;
    top: 0;
}

#gabator-panel {
    position:relative;
    display:block;
    padding:0 15px;
    z-index:1;
}
#gabator-panel h4 { text-align:right; }
#gabator-panel > * { padding-bottom:5px; }
#gabator-panel span { font-style:italic; }
#gabator-panel .disabled { display:none!important; }
#gabator-panel .progress {
    margin-bottom:8px;
    height:12px;
}